body {
  font-family: Arial, sans-serif;
}

#banner {
  width: 100%;
}

label {
  cursor: pointer;
  display: block;
}

input,
select {
  display: block;
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-top: 0.2em;
}

table {
  margin-top: 2em;
}

tbody tr:nth-child(odd) {
  background-color: lemonchiffon;
}

tbody tr:nth-child(even) {
  background-color: gainsboro;
}

thead tr,
tfoot tr {
  background-color: khaki;
  font-weight: bold;
}

td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

tbody td:nth-child(2),
tbody td:nth-child(3),
tbody td:nth-child(4),
#totaal {
  text-align: right;
}

.fout {
  color: red;
}

.hidden {
  display: none;
}

.btn-wrapper {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.delete-btn {
  border: none;
  background: none;
  padding: 2px 8px;
  cursor: pointer;
}

.change-amount-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
