body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #487096;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(1px);
  z-index: -1;
  opacity: 0.6;

  background: no-repeat
    url("https://static.stacker.com/s3fs-public/styles/sar_screen_maximum_large/s3/croppedGettyImages678117738ZLKRjpg_0.JPEG");
  background-size: cover;
}

div {
  margin-top: 0.5em;
}

select {
  margin-top: 0.2em;
  display: block;
}

table {
  background-color: lightgray;
  border-collapse: collapse;
  margin-top: 2em;
}

td,
th {
  border: 0.1em solid white;
  height: 2em;
  width: 2em;
}

.error {
  background-color: red;
  color: white;
  width: 385px;
  padding: 4px;
}

.hidden {
  display: none;
}
